#back-btn{
    margin: 8px 0px 0px 24px;
    height: 24px;
    cursor: pointer;   
}
.container{
    display: flex;
    justify-content: space-around;
}
.left-part{
    width: 20%;
    margin: 10px;
}
.center-part{
    width: 60%;
    margin: 10px;
}
.right-part{
    width: 20%;
    margin: 10px;
}
#plot-text,#trailer-container{
    margin-top: 16px;
}